.email_main_continer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.email_sub_continer{
    margin-top: 200px;
    background-color: white;
    width: 300px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(75, 75, 215, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding-left: 5px;
    border: 2px solid rgb(47, 255, 102);
}
.passwordforgot{
    margin-left: 20px;
    color: black;
}
.passwordforgot h2{
    color: black;
}
.email{
    display: flex;
    flex-direction: column;
    gap:-10px;
    margin-left: 20px;
}
.email input{
    margin-top: -10px;
    margin-right: 10px;
    outline: none;
    padding: 4px 0px;
}
.mail-send-button{
    margin-top: 12px;
    margin-bottom: 12px;
    width: 270px;
    margin-left: 20px;
    border: none;
    background-color: greenyellow;
    padding: 4px 0px;
    cursor: pointer;
    font-size: 15px;
}
.email p{
    font-style: normal;
}
